*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/background.png);
    position: relative;
    overflow: hidden;
}
.brand img{
    width: 20%;
    margin-left: 10%;
    margin-top: 1%;
}
@media screen and (max-width: 600px) {
    .brand img{
        width: 45%;
    }
    
}
.sgn{
    float: right;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 30px;
    text-decoration: none;
    padding: 5px 20px;
    margin-top: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sgn:hover{
    background-color: aquamarine;
    color: black;
}
.sidebar{
    height: 100vh;
    background: linear-gradient(#0a4f57, #19214b);
    position: absolute;
    margin-left: 92%;
}
.menu img{
   width: 50%;
   margin-top: 70%;
   margin-left: 30%;
}
.media-icon{
    margin-top: 100%;
}
.media-icon img{
    width: 50%;
    margin: 10% 30%;
}
.share{
    margin-top: 100%;
}
.share img{
    width: 50%;
    margin: 10% 30%;
}
@media screen and (max-width: 600px) {
    .sidebar{
        display: none;
    }
    .sgn{
        margin-top: 5%;
    }
    
}
.small-icon{
    align-items: center;
    display: flex;
    bottom: 0;
    position: absolute;
    margin-left: 11%;
}
.small-icon img{
    width: 10%;
    margin: auto 2%;
}
@media screen and (min-width: 601px) {
    .small-icon{
        display: none;
    }
    
}
.title{
    position: absolute;
    margin-left: 11%;
    margin-top: 15%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title h5{
    font-size: 15px;
}
.title h1{
    font-family: fantasy;
    letter-spacing: 5px;
    margin-bottom: 1%;
}
.tour{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 30px;
}
@media screen and (max-width: 600px) {
    .title{   
        margin-top: 25%;  
    }
    .title h1{
        margin-bottom: 5%;
    }
    
}
.tour:hover{
    background-color: aquamarine;
    color: black;
}
.bubble{
    align-items: center;
    justify-content: space-around;
    bottom: -60px;
    position: absolute;
    display: flex;
    width: 95%;
}
.bubble img{
    width: 5%;
    animation: icons 7s linear infinite;
}

@keyframes icons {
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    50%{
        opacity: 1;
        
    }
    75%{
        opacity: 1;
        
    }
    100%{
        opacity: 0;
        transform: translateY(-90vh);
    }
    
}

.bubble img:nth-child(1){
    animation-delay: 2s;
}
.bubble img:nth-child(2){
    animation-delay: 3s;
}
.bubble img:nth-child(3){
    animation-delay: 1s;
}
.bubble img:nth-child(4){
    animation-delay: 4s;
}
.bubble img:nth-child(5){
    animation-delay: 2.5s;
}
.bubble img:nth-child(6){
    animation-delay: 1.2s;
}
.bubble img:nth-child(7){
    animation-delay: 3.5s;
}

